.hero {
  display: grid;
  width: auto;
  height: auto;

  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;

  grid-template-areas:
    "A A A A A A A W W W B B"
    "C C C C Z Z D D D D D D"
    "X X X Y Z Z D D D D D D"
    "E E E Y Z Z D D D D D D";
}

.hero-title {
  grid-area: A;
  /* Text */
  color: var(--text-main, #212529);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Helvetica;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 86.4px */
  text-transform: uppercase;
  text-align: left;
}

.hero-button-div {
  grid-area: B;
  display: flex;
  /* Make it at the bottom */
  align-self: flex-end;
  justify-content: flex-start;
}
.hero-button {
  /* Text */
  color: var(--text-main, #212529);
  font-feature-settings: "clig" off, "liga" off;

  /* text/large */
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero-text {
  grid-area: C;
  /* Text */
  color: var(--text-main, #212529);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  text-align: left;
}

.hero-image-div-small {
  grid-area: E;
}

.hero-image-small {
  width: 100%;
}

.hero-image-div-big {
  grid-area: D;
}

.hero-image-big {
  width: 100%;
}

